.book__buy-link {
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
	color:red;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	position: relative;
	top: 200px;
	left: 30px;
}

.book__buy-link:hover {
	opacity: 0.4;
}